<!DOCTYPE html>
<html lang="en">
  <!-- <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Rest API</title>
    <style>
      body {
        width: 75vw;
        margin: 0 auto;
        text-align: center;
        /* border: red 2px solid; */
      }
      .nav-style {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        gap: 1.5rem;
      }
      .data-container {
        margin-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      thead th {
        padding: 0 0.3rem 0 0.3rem;
        margin: 1.5rem;
        border-bottom: 2px solid gray;
      }
      td {
        padding: 0.15rem;
      }
    </style>
  </head> -->
  <head>
    <%- include("../partials/head") %>
    <style>
    .data-container {
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
   }
  thead th {
    padding: 0 0.3rem 0 0.3rem;
    margin: 1.5rem;
    border-bottom: 2px solid gray;
  }
  td {
    padding: 0.15rem;
  }
    </style>
  <body>
    <header>
      <%- include("../partials/nav");%>
    </header>
    <main>
      <div class="data-container">
        <%if(data.length) {%>
        <table class="table table">
          <thead class="table-dark">
            <th>username</th>
            <th>age</th>
            <th>email</th>
          </thead>
          <tbody>
            <% for(let i = 0; i < data.length; i++){%>
            <tr>
              <td><%=data[i].username%></td>
              <td><%=data[i].age%></td>
              <td><%=data[i].email%></td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <%}%>
      </div>
    </main>
    <footer><%- include("../partials/footer");%></footer>
  </body>
</html>
